<footer>
        <p>2024 © Bunns Flowers</p>
        <div class="panel-logosredes">
            <picture>
                <a href="https://www.instagram.com/bunns_flowers?igsh=YzltNnR3bXNnMjZz" target="_blank">
                    <img src="imagenes/logoinstagram.png" alt="Logo Instagram"/>
                </a>
                <a href="https://www.facebook.com/share/13fMXctNf7/" 
                target="_blank">
                    <img src="imagenes/logofacebook.png" alt="Logo Facebook"/>
                </a>
                <a href="https://api.whatsapp.com/send/?phone=50487740158&text&type=phone_number&app_absent=0&wame_ctl=1&fbclid=PAY2xjawG-FHZleHRuA2FlbQIxMAABpiTwY4qvDtMzeoxsW9Pz9LCdwMr8D8wxARvQSeCvxM0XKHwPTDPu3kfYcg_aem_ypVAGvy3wDdeuWUdXq3brA" target="_blank">
                    <img src="imagenes/logowhatsapp.png" alt="Logo Whatsapp"/>
                </a>
            </picture>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="Catalogo.html">Catalogo</a></li>
                <li><a href="Contactos.html">Contactenos</a></li>
                <li><a href="Nosotros.html">Sobre Nosotros</a></li>
            </ul>
        </nav>
    </footer>