<div class="producto">
    <label>{{nombre}} - Lps.{{precio}}</label>
    <input type="number" 
           name="{{nombre}} (cantidad)" 
           min="0" 
           value="0" 
           class="cantidad"
           id="{{id}}">
</div>