<div class="producto">
    <label>
        {{nombre}} - Lps.{{precio}}
        {{#if nota}}<span class="nota-producto">{{nota}}</span>{{/if}}
    </label>
    <input type="number" name="{{name}}" min="0" value="0" class="cantidad">
</div>