<div class="panel-floreseternas">
    <h2>{{data.titulo}}</h2>
    {{#each data.parrafos}}
        <p>{{this}}</p>
    {{/each}}
</div>

<div class="panel-floreterna">
    <picture>
        <img src="{{data.imagen.ruta}}" alt="{{data.imagen.alt}}" />
    </picture>
</div>