@primary-color: #88A795; 
@primary-color-dark: darken(@primary-color, 10%);
@primary-color-light: lighten(@primary-color, 10%);
@primary-color-super-light: lighten(@primary-color, 30%);

@secondary-color: #e0d5be; 
@secondary-color-dark: darken(@secondary-color, 10%);
@secondary-color-light: lighten(@secondary-color, 10%);
@secondary-color-super-light: lighten(@secondary-color, 30%);

@tertiary-color: #b58dc6; 
@tertiary-color-dark: darken(@tertiary-color, 10%);
@tertiary-color-light: lighten(@tertiary-color, 10%);
@tertiary-color-super-light: lighten(@tertiary-color, 30%);

@primary-text-color: black; 
@secondary-text-color: #333; 
@tertiary-text-color: white; 

#breaks {
    mobile: 431px;
    tablet: 821px;
    desktop: 1025px;
    wide: 2300px;
}

#breaks-prefix {
    mobile: sm-;
    tablet: md-;
    desktop: lg-;
    wide: xl-;
}
